body {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
}

select {
    width: 100%;
    padding: 5px;
    min-height: 2vh;
    font-size: 14px;
}

textarea {
    width: 100%;
}

.output-area {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-area {
    flex: 6;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

textarea#codeInput{
    flex: 3;
}

textarea#databaseView{
    flex: 1;
    background-color: azure;
}

textarea#codeOutputTerminal{
    flex: 1;
    background-color: lightblue;
}

textarea#codeOutput{
    flex: 4;
    background-color:aliceblue;
}

.selector-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}

.control-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 3vw;
    margin: 0 20px;
}

button {
    width: 100%;
    min-height: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: cadetblue;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20pt;
}

button:hover {
    background-color: darkcyan;
}
