body {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    min-height: 3vh;
    font-size: 14px;
}

textarea {
    width: 46vw;
}

.output-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-area {
    display: flex;
    flex-direction: column;
}

textarea#codeInput{
    min-height: calc(100% - 3vh);
}

textarea#codeOutputTerminal{
    min-height: calc(25% - 5px);
    background-color: aliceblue;
}

textarea#codeOutput{
    min-height: calc(75% - 5px);
    background-color: azure;
}

.control-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 4vw;
    margin: 20px 20px;
}

button {
    width: 100%;
    min-height: 90vh;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
