<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPHREEQC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="input-area">
            <div class="selector-line">
                <label>Template:</label>
                <select id="inputSelector" class="input-selector">
                    {% for key, value in input_options.items() %}
                        <option value="{{ value }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
            <textarea id="codeInput" placeholder="Write your PHREEQC input file here, or select a template from the dropdown above...">{{ initial_input }}</textarea>
            
            <div class="selector-line">
                <label>Database:</label>
                <select id="databaseSelector"   class="input-selector">
                    {% for key in database_options %}
                        <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
            <textarea id="databaseView" readonly>{{ database_text }}</textarea>
        </div>
        <div class="control-pane">
            <button id="runButton">><br>R<br>U<br>N<br>></button>
        </div>
        <div class="output-area">
            <div class="selector-line">
                <label>Output:</label>
                <select id="outputSelector" class="input-selector">
                    {% for key, value in output_options.items() %}
                        <option value="{{ value }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
            <textarea id="codeOutput" readonly></textarea>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>